.Rproj.user
.Rhistory
.RData
.Ruserdata
# data files
/R/data/*
# single niche plots
/R/plots/niche_comp/single_ys/*
# parameter testing plots
/R/abs_gen_tests/*

# latex files
*.gz
*.aux
*.log
*.fdb_latexmk
*.fls
*.log
*.bbl
*.bcf
*.blg
*.xml
*.toc
*.out

test/
